aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
frozenlist==1.4.0
humanize==4.8.0
idna==3.4
multidict==6.0.4
numpy==1.25.2
openai==0.27.9
pycparser==2.21
pydub==0.25.1
pyperclip==1.8.2
requests==2.31.0
sounddevice==0.4.6
soundfile==0.12.1
tqdm==4.66.1
urllib3==2.0.4
yarl==1.9.2
