aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.3
astroid==2.15.6
async-timeout==4.0.3
attrs==23.1.0
auto-py-to-exe==2.37.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
customtkinter==5.2.0
darkdetect==0.8.0
dill==0.3.7
Eel==0.16.0
frozenlist==1.4.0
future==0.18.3
gevent==23.7.0
gevent-websocket==0.10.1
greenlet==2.0.2
humanize==4.8.0
idna==3.4
importlib-metadata==6.8.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
multidict==6.0.4
numpy==1.25.2
openai==0.27.9
pefile==2023.2.7
platformdirs==3.10.0
pycparser==2.21
pydub==0.25.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
pylint==2.17.5
pyparsing==3.1.1
pyperclip==1.8.2
pywin32-ctypes==0.2.2
requests==2.31.0
sounddevice==0.4.6
soundfile==0.12.1
tomli==2.0.1
tomlkit==0.12.1
tqdm==4.66.1
urllib3==2.0.4
whichcraft==0.6.1
wrapt==1.15.0
yapf==0.40.1
yarl==1.9.2
zipp==3.16.2
zope.event==5.0
zope.interface==6.0
